<h1 mat-dialog-title>Edit a Duty Request</h1>
<mat-dialog-content>
  <form>
    <!-- Wish Type -->
    <mat-form-field class="full-width">
      <mat-label>Duty Request Type</mat-label>
      <mat-select [value]="selectedWishType" [disabled]="true">
        <mat-option value="POSITIVE">Positive Duty Request</mat-option>
        <mat-option value="NEGATIVE">Negative Duty Request</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Series Of Performances toggle -->
    <mat-slide-toggle (change)="onToggle()" [checked]="forEntireSop">
      Apply to all Duties of this Series Of Performances
      <mat-card-subtitle>Enabling this option will automatically select all Musical Pieces of the SOP
      </mat-card-subtitle>
    </mat-slide-toggle>

    <!-- Musical Pieces -->
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <h2>Musical Piece(s)</h2>
        <section *ngFor="let musicalPiece of this.data.dutyWish.details.musicalPieces">
          <mat-checkbox (change)="selectMusicalPiece(musicalPiece)"
                        [checked]="forEntireSop || this.selectedMusicalPieces.includes(musicalPiece)"
                        [disabled]="forEntireSop">
            {{ musicalPiece.name }}
          </mat-checkbox>
        </section>
        <section>
          <mat-checkbox *ngIf="forEntireSop" [checked]="true" [disabled]="true">...</mat-checkbox>
        </section>
        <mat-card-subtitle *ngIf="selectedMusicalPieces.length === 0">
          Please select at least <strong>one</strong> Musical Piece
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>

    <!-- Reason -->
    <mat-form-field class="full-width">
      <mat-label>Reason</mat-label>
      <input matInput [formControl]="reasonFormControl" placeholder="Reason">
      <mat-error *ngIf="reasonFormControl.hasError('required')">
        A reason is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="!reasonFormControl.hasError('required') && reasonFormControl.hasError('maxlength')">
        The reason has a maximum length of <strong>45</strong> characters
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<!-- Dialog action buttons -->
<mat-dialog-actions>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="updateDutyWish()"
          [disabled]="!(reasonFormControl.valid && selectedMusicalPieces.length > 0)">
    Edit Request
  </button>
</mat-dialog-actions>
